In [1]:
# Import the pandas library
import pandas as pd

# Load the dataset from the Excel file
data = pd.read_excel("../data/q2data.xlsx")

# Display the first few rows of the dataset to inspect the data
print(data.head())

               Property_Name  Property_id Property_type     Property_status  \
0               Arkiton Luxe     15446514     Apartment  Under Construction
1  Keshav Akshar Ocean Pearl     15367414     Apartment  Under Construction
2            Vishwa Opulence     14683118     Apartment       Ready to move
3              Satyam Sarjan      5476295     Apartment       Ready to move
4           Navkar Sunflower     15477040     Apartment  Under Construction

  Price_per_unit_area   Posted_On  \
0                4285   1 day ago
1                7000  2 days ago
2                5752  2 days ago
3                2486  5 days ago
4                5324  8 days ago

                                         Project_URL  builder_id  \
0  https://www.makaan.com/ahmedabad/arkiton-life-...   100563465
1  https://www.makaan.com/ahmedabad/keshav-naraya...   100009433
2  https://www.makaan.com/ahmedabad/vishwa-develo...   100207731
3  https://www.makaan.com/ahmedabad/satyam-develo...      101303
4  https://www.makaan.com/ahmedabad/navkar-buildc...     1484209

                  Builder_name Property_building_status  ...  is_furnished  \
0           Arkiton life Space                   ACTIVE  ...   Unfurnished
1         Keshav Narayan Group                   ACTIVE  ...   Unfurnished
2  Vishwa Developers Ahmedabad                   ACTIVE  ...   Unfurnished
3            Satyam Developers                   ACTIVE  ...   Unfurnished
4    Navkar Buildcon Ahmedabad                   ACTIVE  ...   Unfurnished

  listing_domain_score is_plot  is_RERA_registered is_Apartment  \
0                  4.0   False                True         True
1                  4.0   False                True         True
2                  4.0   False               False         True
3                  4.0   False               False         True
4                  4.0   False                True         True

   is_ready_to_move  is_commercial_Listing is_PentaHouse is_studio  \
0             False                  False         False     False
1             False                  False         False     False
2              True                  False         False     False
3              True                  False         False     False
4             False                  False         False     False

   Listing_Category
0              sell
1              sell
2              sell
3              sell
4              sell

[5 rows x 32 columns]

In [2]:
data

,Property_Name,Property_id,Property_type,Property_status,Price_per_unit_area,Posted_On,Project_URL,builder_id,Builder_name,Property_building_status,...,is_furnished,listing_domain_score,is_plot,is_RERA_registered,is_Apartment,is_ready_to_move,is_commercial_Listing,is_PentaHouse,is_studio,Listing_Category
0,Arkiton Luxe,15446514,Apartment,Under Construction,4285,1 day ago,https://www.makaan.com/ahmedabad/arkiton-life-...,100563465,Arkiton life Space,ACTIVE,...,Unfurnished,4.0,False,True,True,False,False,False,False,sell
1,Keshav Akshar Ocean Pearl,15367414,Apartment,Under Construction,7000,2 days ago,https://www.makaan.com/ahmedabad/keshav-naraya...,100009433,Keshav Narayan Group,ACTIVE,...,Unfurnished,4.0,False,True,True,False,False,False,False,sell
2,Vishwa Opulence,14683118,Apartment,Ready to move,5752,2 days ago,https://www.makaan.com/ahmedabad/vishwa-develo...,100207731,Vishwa Developers Ahmedabad,ACTIVE,...,Unfurnished,4.0,False,False,True,True,False,False,False,sell
3,Satyam Sarjan,5476295,Apartment,Ready to move,2486,5 days ago,https://www.makaan.com/ahmedabad/satyam-develo...,101303,Satyam Developers,ACTIVE,...,Unfurnished,4.0,False,False,True,True,False,False,False,sell
4,Navkar Sunflower,15477040,Apartment,Under Construction,5324,8 days ago,https://www.makaan.com/ahmedabad/navkar-buildc...,1484209,Navkar Buildcon Ahmedabad,ACTIVE,...,Unfurnished,4.0,False,True,True,False,False,False,False,sell
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
143703,Rajlaxmi RaajLaxmi Towers,10324765,Apartment,Under Construction,9826,4 months ago,https://www.makaan.com/mumbai/rajlaxmi-develop...,561277,Rajlaxmi Developers Mumbai,ACTIVE,...,Unfurnished,4.0,False,True,True,False,False,False,False,sell
143704,Rajlaxmi RaajLaxmi Towers,15076701,Apartment,Under Construction,8568,4 months ago,https://www.makaan.com/mumbai/rajlaxmi-develop...,561277,Rajlaxmi Developers Mumbai,ACTIVE,...,Unfurnished,4.0,False,True,True,False,False,False,False,sell
143705,Rajlaxmi RaajLaxmi Towers,10324762,Apartment,Under Construction,9861,4 months ago,https://www.makaan.com/mumbai/rajlaxmi-develop...,561277,Rajlaxmi Developers Mumbai,ACTIVE,...,Unfurnished,4.0,False,True,True,False,False,False,False,sell
143706,Rajlaxmi RaajLaxmi Towers,15076700,Apartment,Under Construction,8813,4 months ago,https://www.makaan.com/mumbai/rajlaxmi-develop...,561277,Rajlaxmi Developers Mumbai,ACTIVE,...,Unfurnished,4.0,False,True,True,False,False,False,False,sell
143707,Rajlaxmi RaajLaxmi Towers,14683740,Apartment,Under Construction,9859,4 months ago,https://www.makaan.com/mumbai/rajlaxmi-develop...,561277,Rajlaxmi Developers Mumbai,ACTIVE,...,Unfurnished,4.0,False,True,True,False,False,False,False,sell

In [3]:
selected_columns = [
    "Property_type",
    "Property_status",
    "Price_per_unit_area",
    "Property_building_status",
    "City_name",
    "No_of_BHK",
    "Price",
    "Size",
    "is_furnished",
    "is_ready_to_move"
]

filtered_data = data[selected_columns]

# Display the first few rows of the filtered DataFrame
print(filtered_data.head())

  Property_type     Property_status Price_per_unit_area  \
0     Apartment  Under Construction                4285
1     Apartment  Under Construction                7000
2     Apartment       Ready to move                5752
3     Apartment       Ready to move                2486
4     Apartment  Under Construction                5324

  Property_building_status  City_name No_of_BHK        Price         Size  \
0                   ACTIVE  Ahmedabad     3 BHK    75,00,000  1,750 sq ft
1                   ACTIVE  Ahmedabad     4 BHK  2,36,88,000  3,384 sq ft
2                   ACTIVE  Ahmedabad     3 BHK  1,32,00,840  2,295 sq ft
3                   ACTIVE  Ahmedabad     2 BHK    22,83,000    918 sq ft
4                   ACTIVE  Ahmedabad     3 BHK    93,71,000  1,760 sq ft

  is_furnished  is_ready_to_move
0  Unfurnished             False
1  Unfurnished             False
2  Unfurnished              True
3  Unfurnished              True
4  Unfurnished             False

In [4]:
# Filter the DataFrame to include only rows where Property_building_status is 'ACTIVE'
filtered_data = filtered_data[filtered_data["Property_building_status"] == "ACTIVE"]

# Display the first few rows of the filtered DataFrame
# print(filtered_data.head())
filtered_data

,Property_type,Property_status,Price_per_unit_area,Property_building_status,City_name,No_of_BHK,Price,Size,is_furnished,is_ready_to_move
0,Apartment,Under Construction,4285,ACTIVE,Ahmedabad,3 BHK,"75,00,000","1,750 sq ft",Unfurnished,False
1,Apartment,Under Construction,7000,ACTIVE,Ahmedabad,4 BHK,"2,36,88,000","3,384 sq ft",Unfurnished,False
2,Apartment,Ready to move,5752,ACTIVE,Ahmedabad,3 BHK,"1,32,00,840","2,295 sq ft",Unfurnished,True
3,Apartment,Ready to move,2486,ACTIVE,Ahmedabad,2 BHK,"22,83,000",918 sq ft,Unfurnished,True
4,Apartment,Under Construction,5324,ACTIVE,Ahmedabad,3 BHK,"93,71,000","1,760 sq ft",Unfurnished,False
...,...,...,...,...,...,...,...,...,...,...
143703,Apartment,Under Construction,9826,ACTIVE,Mumbai,1 BHK,"34,00,000",346 sq ft,Unfurnished,False
143704,Apartment,Under Construction,8568,ACTIVE,Mumbai,1 BHK,"36,50,000",426 sq ft,Unfurnished,False
143705,Apartment,Under Construction,9861,ACTIVE,Mumbai,1 BHK,"35,50,000",360 sq ft,Unfurnished,False
143706,Apartment,Under Construction,8813,ACTIVE,Mumbai,2 BHK,"52,00,000",590 sq ft,Unfurnished,False
143707,Apartment,Under Construction,9859,ACTIVE,Mumbai,1 BHK,"35,29,577",358 sq ft,Unfurnished,False

In [5]:
# Clean 'Size' column by removing non-numeric characters
filtered_data['Size'] = filtered_data['Size'].str.replace(',', '').str.replace(' sq ft', '').astype(float)

# Clean and convert other columns
filtered_data['Price'] = filtered_data['Price'].str.replace(',', '').astype(float)
# Convert 'Price_per_unit_area' to numeric, keeping numeric values intact
filtered_data['Price_per_unit_area'] = filtered_data['Price_per_unit_area'].apply(
    lambda x: float(x.replace(',', '')) if isinstance(x, str) else x
)

In [6]:
filtered_data

,Property_type,Property_status,Price_per_unit_area,Property_building_status,City_name,No_of_BHK,Price,Size,is_furnished,is_ready_to_move
0,Apartment,Under Construction,4285.0,ACTIVE,Ahmedabad,3 BHK,7500000.0,1750.0,Unfurnished,False
1,Apartment,Under Construction,7000.0,ACTIVE,Ahmedabad,4 BHK,23688000.0,3384.0,Unfurnished,False
2,Apartment,Ready to move,5752.0,ACTIVE,Ahmedabad,3 BHK,13200840.0,2295.0,Unfurnished,True
3,Apartment,Ready to move,2486.0,ACTIVE,Ahmedabad,2 BHK,2283000.0,918.0,Unfurnished,True
4,Apartment,Under Construction,5324.0,ACTIVE,Ahmedabad,3 BHK,9371000.0,1760.0,Unfurnished,False
...,...,...,...,...,...,...,...,...,...,...
143703,Apartment,Under Construction,9826.0,ACTIVE,Mumbai,1 BHK,3400000.0,346.0,Unfurnished,False
143704,Apartment,Under Construction,8568.0,ACTIVE,Mumbai,1 BHK,3650000.0,426.0,Unfurnished,False
143705,Apartment,Under Construction,9861.0,ACTIVE,Mumbai,1 BHK,3550000.0,360.0,Unfurnished,False
143706,Apartment,Under Construction,8813.0,ACTIVE,Mumbai,2 BHK,5200000.0,590.0,Unfurnished,False
143707,Apartment,Under Construction,9859.0,ACTIVE,Mumbai,1 BHK,3529577.0,358.0,Unfurnished,False

In [7]:
# Print unique values in the 'Price_per_unit_area' column to inspect the data
print(filtered_data['Price_per_unit_area'].unique())

[ 4285.  7000.  5752. ... 38910.   550.   709.]

In [8]:
# Find the minimum and maximum values in the "Size" attribute
min_Price_per_unit_area = filtered_data['Price_per_unit_area'].min()
max_Price_per_unit_area = filtered_data['Price_per_unit_area'].max()

print("Minimum Price_per_unit_area:", min_Price_per_unit_area)
print("Maximum Price_per_unit_area:", max_Price_per_unit_area)

Minimum Price_per_unit_area: 104.0
Maximum Price_per_unit_area: 171969.0

In [9]:
# Define the price range categories and corresponding ranges
price_ranges = {
    'Budget': (100, 10000),
    'Luxury': (10000, 50000),
    'Ultra Luxury': (50000, 100000)
}

# Function to categorize price
def categorize_price(price):
    for category, (min_range, max_range) in price_ranges.items():
        if min_range <= price <= max_range:
            return category
    return 'Other'

# Group the filtered data by "City_name"
grouped_data = filtered_data.groupby('City_name')

# Initialize an empty list to store dataframes for each city
city_dataframes = []

# Iterate through each city group
for city, city_group in grouped_data:
    # Apply the categorize_price function to create the "Price_Category" column
    city_group['Price_Category'] = city_group['Price_per_unit_area'].apply(categorize_price)
    city_dataframes.append(city_group)

# Concatenate the city-specific dataframes back together
final_data = pd.concat(city_dataframes)

# Display the first few rows of the final DataFrame
print(final_data.head())

  Property_type     Property_status  Price_per_unit_area  \
0     Apartment  Under Construction               4285.0
1     Apartment  Under Construction               7000.0
2     Apartment       Ready to move               5752.0
3     Apartment       Ready to move               2486.0
4     Apartment  Under Construction               5324.0

  Property_building_status  City_name No_of_BHK       Price    Size  \
0                   ACTIVE  Ahmedabad     3 BHK   7500000.0  1750.0
1                   ACTIVE  Ahmedabad     4 BHK  23688000.0  3384.0
2                   ACTIVE  Ahmedabad     3 BHK  13200840.0  2295.0
3                   ACTIVE  Ahmedabad     2 BHK   2283000.0   918.0
4                   ACTIVE  Ahmedabad     3 BHK   9371000.0  1760.0

  is_furnished  is_ready_to_move Price_Category
0  Unfurnished             False         Budget
1  Unfurnished             False         Budget
2  Unfurnished              True         Budget
3  Unfurnished              True         Budget
4  Unfurnished             False         Budget

In [10]:
final_data

,Property_type,Property_status,Price_per_unit_area,Property_building_status,City_name,No_of_BHK,Price,Size,is_furnished,is_ready_to_move,Price_Category
0,Apartment,Under Construction,4285.0,ACTIVE,Ahmedabad,3 BHK,7500000.0,1750.0,Unfurnished,False,Budget
1,Apartment,Under Construction,7000.0,ACTIVE,Ahmedabad,4 BHK,23688000.0,3384.0,Unfurnished,False,Budget
2,Apartment,Ready to move,5752.0,ACTIVE,Ahmedabad,3 BHK,13200840.0,2295.0,Unfurnished,True,Budget
3,Apartment,Ready to move,2486.0,ACTIVE,Ahmedabad,2 BHK,2283000.0,918.0,Unfurnished,True,Budget
4,Apartment,Under Construction,5324.0,ACTIVE,Ahmedabad,3 BHK,9371000.0,1760.0,Unfurnished,False,Budget
...,...,...,...,...,...,...,...,...,...,...,...
143703,Apartment,Under Construction,9826.0,ACTIVE,Mumbai,1 BHK,3400000.0,346.0,Unfurnished,False,Budget
143704,Apartment,Under Construction,8568.0,ACTIVE,Mumbai,1 BHK,3650000.0,426.0,Unfurnished,False,Budget
143705,Apartment,Under Construction,9861.0,ACTIVE,Mumbai,1 BHK,3550000.0,360.0,Unfurnished,False,Budget
143706,Apartment,Under Construction,8813.0,ACTIVE,Mumbai,2 BHK,5200000.0,590.0,Unfurnished,False,Budget
143707,Apartment,Under Construction,9859.0,ACTIVE,Mumbai,1 BHK,3529577.0,358.0,Unfurnished,False,Budget

In [11]:
final_data = final_data.drop(columns=['Price_per_unit_area'])
final_data

,Property_type,Property_status,Property_building_status,City_name,No_of_BHK,Price,Size,is_furnished,is_ready_to_move,Price_Category
0,Apartment,Under Construction,ACTIVE,Ahmedabad,3 BHK,7500000.0,1750.0,Unfurnished,False,Budget
1,Apartment,Under Construction,ACTIVE,Ahmedabad,4 BHK,23688000.0,3384.0,Unfurnished,False,Budget
2,Apartment,Ready to move,ACTIVE,Ahmedabad,3 BHK,13200840.0,2295.0,Unfurnished,True,Budget
3,Apartment,Ready to move,ACTIVE,Ahmedabad,2 BHK,2283000.0,918.0,Unfurnished,True,Budget
4,Apartment,Under Construction,ACTIVE,Ahmedabad,3 BHK,9371000.0,1760.0,Unfurnished,False,Budget
...,...,...,...,...,...,...,...,...,...,...
143703,Apartment,Under Construction,ACTIVE,Mumbai,1 BHK,3400000.0,346.0,Unfurnished,False,Budget
143704,Apartment,Under Construction,ACTIVE,Mumbai,1 BHK,3650000.0,426.0,Unfurnished,False,Budget
143705,Apartment,Under Construction,ACTIVE,Mumbai,1 BHK,3550000.0,360.0,Unfurnished,False,Budget
143706,Apartment,Under Construction,ACTIVE,Mumbai,2 BHK,5200000.0,590.0,Unfurnished,False,Budget
143707,Apartment,Under Construction,ACTIVE,Mumbai,1 BHK,3529577.0,358.0,Unfurnished,False,Budget

In [12]:
final_data = final_data.drop(columns=['Property_building_status'])
final_data

,Property_type,Property_status,City_name,No_of_BHK,Price,Size,is_furnished,is_ready_to_move,Price_Category
0,Apartment,Under Construction,Ahmedabad,3 BHK,7500000.0,1750.0,Unfurnished,False,Budget
1,Apartment,Under Construction,Ahmedabad,4 BHK,23688000.0,3384.0,Unfurnished,False,Budget
2,Apartment,Ready to move,Ahmedabad,3 BHK,13200840.0,2295.0,Unfurnished,True,Budget
3,Apartment,Ready to move,Ahmedabad,2 BHK,2283000.0,918.0,Unfurnished,True,Budget
4,Apartment,Under Construction,Ahmedabad,3 BHK,9371000.0,1760.0,Unfurnished,False,Budget
...,...,...,...,...,...,...,...,...,...
143703,Apartment,Under Construction,Mumbai,1 BHK,3400000.0,346.0,Unfurnished,False,Budget
143704,Apartment,Under Construction,Mumbai,1 BHK,3650000.0,426.0,Unfurnished,False,Budget
143705,Apartment,Under Construction,Mumbai,1 BHK,3550000.0,360.0,Unfurnished,False,Budget
143706,Apartment,Under Construction,Mumbai,2 BHK,5200000.0,590.0,Unfurnished,False,Budget
143707,Apartment,Under Construction,Mumbai,1 BHK,3529577.0,358.0,Unfurnished,False,Budget

In [13]:
# Find the minimum and maximum values in the "Size" attribute
min_size = final_data['Size'].min()
max_size = final_data['Size'].max()

print("Minimum Size:", min_size)
print("Maximum Size:", max_size)

Minimum Size: 100.0
Maximum Size: 90000.0

In [14]:
# Define the size range categories and corresponding ranges
size_ranges = {
    'Small': (100, 1000),   # Define your small size range here
    'Medium': (1000, 3000), # Define your medium size range here
    'Large': (3000, 90000)  # Define your large size range here
}

# Function to categorize size
def categorize_size(size):
    for category, (min_range, max_range) in size_ranges.items():
        if min_range <= size <= max_range:
            return category
    return 'Other'

# Group the DataFrame by "City_name" and "Price_Category"
grouped_data = final_data.groupby(['City_name', 'Price_Category'])

# Initialize an empty list to store dataframes for each group
group_dataframes = []

# Iterate through each group
for group, group_data in grouped_data:
    # Apply the categorize_size function to create the "Size_Category" column
    group_data['Size_Category'] = group_data['Size'].apply(categorize_size)
    group_dataframes.append(group_data)

# Concatenate the group-specific dataframes back together and assign it to the final_data DataFrame
final_data = pd.concat(group_dataframes)

# Display the first few rows of the final DataFrame
# print(final_data.head())
final_data

,Property_type,Property_status,City_name,No_of_BHK,Price,Size,is_furnished,is_ready_to_move,Price_Category,Size_Category
0,Apartment,Under Construction,Ahmedabad,3 BHK,7500000.0,1750.0,Unfurnished,False,Budget,Medium
1,Apartment,Under Construction,Ahmedabad,4 BHK,23688000.0,3384.0,Unfurnished,False,Budget,Large
2,Apartment,Ready to move,Ahmedabad,3 BHK,13200840.0,2295.0,Unfurnished,True,Budget,Medium
3,Apartment,Ready to move,Ahmedabad,2 BHK,2283000.0,918.0,Unfurnished,True,Budget,Small
4,Apartment,Under Construction,Ahmedabad,3 BHK,9371000.0,1760.0,Unfurnished,False,Budget,Medium
...,...,...,...,...,...,...,...,...,...,...
143678,Apartment,Under Construction,Mumbai,2 BHK,41897480.0,721.0,Unfurnished,False,Ultra Luxury,Small
143679,Apartment,Under Construction,Mumbai,2 BHK,38780447.0,667.0,Unfurnished,False,Ultra Luxury,Small
143680,Apartment,Under Construction,Mumbai,2 BHK,36900000.0,635.0,Unfurnished,False,Ultra Luxury,Small
143681,Apartment,Under Construction,Mumbai,3 BHK,45900000.0,915.0,Unfurnished,False,Ultra Luxury,Small
143682,Apartment,Under Construction,Mumbai,2 BHK,44396220.0,764.0,Unfurnished,False,Ultra Luxury,Small

In [15]:
# Get unique city names from the DataFrame
unique_city_names = final_data['City_name'].unique()

# Print the unique city names
print(unique_city_names)

['Ahmedabad' 'Bangalore' 'Chennai' 'Delhi' 'Hyderabad' 'Kolkata' 'Lucknow'
 'Mumbai']

In [16]:
final_data = final_data.drop(columns=['Size'])
final_data

,Property_type,Property_status,City_name,No_of_BHK,Price,is_furnished,is_ready_to_move,Price_Category,Size_Category
0,Apartment,Under Construction,Ahmedabad,3 BHK,7500000.0,Unfurnished,False,Budget,Medium
1,Apartment,Under Construction,Ahmedabad,4 BHK,23688000.0,Unfurnished,False,Budget,Large
2,Apartment,Ready to move,Ahmedabad,3 BHK,13200840.0,Unfurnished,True,Budget,Medium
3,Apartment,Ready to move,Ahmedabad,2 BHK,2283000.0,Unfurnished,True,Budget,Small
4,Apartment,Under Construction,Ahmedabad,3 BHK,9371000.0,Unfurnished,False,Budget,Medium
...,...,...,...,...,...,...,...,...,...
143678,Apartment,Under Construction,Mumbai,2 BHK,41897480.0,Unfurnished,False,Ultra Luxury,Small
143679,Apartment,Under Construction,Mumbai,2 BHK,38780447.0,Unfurnished,False,Ultra Luxury,Small
143680,Apartment,Under Construction,Mumbai,2 BHK,36900000.0,Unfurnished,False,Ultra Luxury,Small
143681,Apartment,Under Construction,Mumbai,3 BHK,45900000.0,Unfurnished,False,Ultra Luxury,Small
143682,Apartment,Under Construction,Mumbai,2 BHK,44396220.0,Unfurnished,False,Ultra Luxury,Small

In [17]:
final_data = final_data.drop_duplicates()
final_data

,Property_type,Property_status,City_name,No_of_BHK,Price,is_furnished,is_ready_to_move,Price_Category,Size_Category
0,Apartment,Under Construction,Ahmedabad,3 BHK,7500000.0,Unfurnished,False,Budget,Medium
1,Apartment,Under Construction,Ahmedabad,4 BHK,23688000.0,Unfurnished,False,Budget,Large
2,Apartment,Ready to move,Ahmedabad,3 BHK,13200840.0,Unfurnished,True,Budget,Medium
3,Apartment,Ready to move,Ahmedabad,2 BHK,2283000.0,Unfurnished,True,Budget,Small
4,Apartment,Under Construction,Ahmedabad,3 BHK,9371000.0,Unfurnished,False,Budget,Medium
...,...,...,...,...,...,...,...,...,...
142020,Apartment,Ready to move,Mumbai,3 BHK,35000000.0,Semi-Furnished,True,Ultra Luxury,Small
142958,Apartment,Ready to move,Mumbai,5 BHK,210000000.0,Unfurnished,True,Ultra Luxury,Large
143138,Apartment,Ready to move,Mumbai,3 BHK,62500000.0,Semi-Furnished,True,Ultra Luxury,Medium
143189,Apartment,Under Construction,Mumbai,2 BHK,50000000.0,Semi-Furnished,False,Ultra Luxury,Small
143343,Apartment,Ready to move,Mumbai,4 BHK,180000000.0,Semi-Furnished,True,Ultra Luxury,Medium

In [18]:
final_data = final_data.drop(columns=['No_of_BHK'])
final_data = final_data.drop(columns=['Price'])
final_data = final_data.drop(columns=['is_furnished'])
final_data = final_data.drop(columns=['is_ready_to_move'])

final_data = final_data.drop_duplicates()
final_data

,Property_type,Property_status,City_name,Price_Category,Size_Category
0,Apartment,Under Construction,Ahmedabad,Budget,Medium
1,Apartment,Under Construction,Ahmedabad,Budget,Large
2,Apartment,Ready to move,Ahmedabad,Budget,Medium
3,Apartment,Ready to move,Ahmedabad,Budget,Small
16,Apartment,Ready to move,Ahmedabad,Budget,Large
...,...,...,...,...,...
90164,Villa,Ready to move,Mumbai,Ultra Luxury,Large
97153,Independent House,Ready to move,Mumbai,Ultra Luxury,Large
102157,Independent House,Ready to move,Mumbai,Ultra Luxury,Medium
103402,Apartment,Ready to move,Mumbai,Ultra Luxury,Small
108934,Independent Floor,Ready to move,Mumbai,Ultra Luxury,Medium

In [19]:
final_data = final_data.drop(columns=['Property_status'])
final_data = final_data.drop_duplicates()
final_data

            Property_type  City_name Price_Category Size_Category
0               Apartment  Ahmedabad         Budget        Medium
1               Apartment  Ahmedabad         Budget         Large
3               Apartment  Ahmedabad         Budget         Small
25      Independent House  Ahmedabad         Budget         Large
30                  Villa  Ahmedabad         Budget        Medium
...                   ...        ...            ...           ...
82203           Apartment     Mumbai   Ultra Luxury         Large
90164               Villa     Mumbai   Ultra Luxury         Large
97153   Independent House     Mumbai   Ultra Luxury         Large
102157  Independent House     Mumbai   Ultra Luxury        Medium
108934  Independent Floor     Mumbai   Ultra Luxury        Medium

[224 rows x 4 columns]

In [20]:
final_data[final_data["Property_type"] == 'Apartment']

       Property_type  City_name Price_Category Size_Category
0          Apartment  Ahmedabad         Budget        Medium
1          Apartment  Ahmedabad         Budget         Large
3          Apartment  Ahmedabad         Budget         Small
521        Apartment  Ahmedabad         Luxury         Large
522        Apartment  Ahmedabad         Luxury        Medium
612        Apartment  Ahmedabad         Luxury         Small
6408       Apartment  Ahmedabad          Other        Medium
6612       Apartment  Bangalore         Budget        Medium
6622       Apartment  Bangalore         Budget         Small
6643       Apartment  Bangalore         Budget         Large
6660       Apartment  Bangalore         Luxury        Medium
6707       Apartment  Bangalore         Luxury         Large
7469       Apartment  Bangalore         Luxury         Small
11308      Apartment  Bangalore   Ultra Luxury        Medium
11735      Apartment  Bangalore   Ultra Luxury         Small
27636      Apartment    Chennai         Budget        Medium
27642      Apartment    Chennai         Budget         Small
28401      Apartment    Chennai         Budget         Large
27676      Apartment    Chennai         Luxury        Medium
27754      Apartment    Chennai         Luxury         Small
28592      Apartment    Chennai         Luxury         Large
37467      Apartment    Chennai   Ultra Luxury        Medium
41037      Apartment      Delhi         Budget         Small
41038      Apartment      Delhi         Budget        Medium
41522      Apartment      Delhi         Budget         Large
41041      Apartment      Delhi         Luxury        Medium
41042      Apartment      Delhi         Luxury         Small
41496      Apartment      Delhi         Luxury         Large
47860      Apartment      Delhi   Ultra Luxury        Medium
48151      Apartment      Delhi   Ultra Luxury         Large
48513      Apartment  Hyderabad         Budget         Large
48514      Apartment  Hyderabad         Budget        Medium
48604      Apartment  Hyderabad         Budget         Small
48531      Apartment  Hyderabad         Luxury         Large
48554      Apartment  Hyderabad         Luxury        Medium
51866      Apartment  Hyderabad         Luxury         Small
55347      Apartment  Hyderabad   Ultra Luxury        Medium
57642      Apartment    Kolkata         Budget         Small
57644      Apartment    Kolkata         Budget        Medium
57965      Apartment    Kolkata         Budget         Large
57643      Apartment    Kolkata         Luxury         Small
57654      Apartment    Kolkata         Luxury        Medium
59084      Apartment    Kolkata         Luxury         Large
68695      Apartment    Kolkata   Ultra Luxury         Small
69866      Apartment    Lucknow         Budget        Medium
69898      Apartment    Lucknow         Budget         Small
70119      Apartment    Lucknow         Budget         Large
70666      Apartment    Lucknow         Luxury        Medium
71558      Apartment     Mumbai         Budget        Medium
71560      Apartment     Mumbai         Budget         Small
81253      Apartment     Mumbai         Budget         Large
71556      Apartment     Mumbai         Luxury         Small
71570      Apartment     Mumbai         Luxury        Medium
71823      Apartment     Mumbai         Luxury         Large
77869      Apartment     Mumbai          Other        Medium
112112     Apartment     Mumbai          Other         Small
122814     Apartment     Mumbai          Other         Large
72313      Apartment     Mumbai   Ultra Luxury        Medium
72575      Apartment     Mumbai   Ultra Luxury         Small
82203      Apartment     Mumbai   Ultra Luxury         Large

In [21]:
final_data = final_data[final_data["Price_Category"] != "Other"]

In [22]:
final_data[final_data["Property_type"] == 'Apartment']

      Property_type  City_name Price_Category Size_Category
0         Apartment  Ahmedabad         Budget        Medium
1         Apartment  Ahmedabad         Budget         Large
3         Apartment  Ahmedabad         Budget         Small
521       Apartment  Ahmedabad         Luxury         Large
522       Apartment  Ahmedabad         Luxury        Medium
612       Apartment  Ahmedabad         Luxury         Small
6612      Apartment  Bangalore         Budget        Medium
6622      Apartment  Bangalore         Budget         Small
6643      Apartment  Bangalore         Budget         Large
6660      Apartment  Bangalore         Luxury        Medium
6707      Apartment  Bangalore         Luxury         Large
7469      Apartment  Bangalore         Luxury         Small
11308     Apartment  Bangalore   Ultra Luxury        Medium
11735     Apartment  Bangalore   Ultra Luxury         Small
27636     Apartment    Chennai         Budget        Medium
27642     Apartment    Chennai         Budget         Small
28401     Apartment    Chennai         Budget         Large
27676     Apartment    Chennai         Luxury        Medium
27754     Apartment    Chennai         Luxury         Small
28592     Apartment    Chennai         Luxury         Large
37467     Apartment    Chennai   Ultra Luxury        Medium
41037     Apartment      Delhi         Budget         Small
41038     Apartment      Delhi         Budget        Medium
41522     Apartment      Delhi         Budget         Large
41041     Apartment      Delhi         Luxury        Medium
41042     Apartment      Delhi         Luxury         Small
41496     Apartment      Delhi         Luxury         Large
47860     Apartment      Delhi   Ultra Luxury        Medium
48151     Apartment      Delhi   Ultra Luxury         Large
48513     Apartment  Hyderabad         Budget         Large
48514     Apartment  Hyderabad         Budget        Medium
48604     Apartment  Hyderabad         Budget         Small
48531     Apartment  Hyderabad         Luxury         Large
48554     Apartment  Hyderabad         Luxury        Medium
51866     Apartment  Hyderabad         Luxury         Small
55347     Apartment  Hyderabad   Ultra Luxury        Medium
57642     Apartment    Kolkata         Budget         Small
57644     Apartment    Kolkata         Budget        Medium
57965     Apartment    Kolkata         Budget         Large
57643     Apartment    Kolkata         Luxury         Small
57654     Apartment    Kolkata         Luxury        Medium
59084     Apartment    Kolkata         Luxury         Large
68695     Apartment    Kolkata   Ultra Luxury         Small
69866     Apartment    Lucknow         Budget        Medium
69898     Apartment    Lucknow         Budget         Small
70119     Apartment    Lucknow         Budget         Large
70666     Apartment    Lucknow         Luxury        Medium
71558     Apartment     Mumbai         Budget        Medium
71560     Apartment     Mumbai         Budget         Small
81253     Apartment     Mumbai         Budget         Large
71556     Apartment     Mumbai         Luxury         Small
71570     Apartment     Mumbai         Luxury        Medium
71823     Apartment     Mumbai         Luxury         Large
72313     Apartment     Mumbai   Ultra Luxury        Medium
72575     Apartment     Mumbai   Ultra Luxury         Small
82203     Apartment     Mumbai   Ultra Luxury         Large

In [23]:
final_data

            Property_type  City_name Price_Category Size_Category
0               Apartment  Ahmedabad         Budget        Medium
1               Apartment  Ahmedabad         Budget         Large
3               Apartment  Ahmedabad         Budget         Small
25      Independent House  Ahmedabad         Budget         Large
30                  Villa  Ahmedabad         Budget        Medium
...                   ...        ...            ...           ...
82203           Apartment     Mumbai   Ultra Luxury         Large
90164               Villa     Mumbai   Ultra Luxury         Large
97153   Independent House     Mumbai   Ultra Luxury         Large
102157  Independent House     Mumbai   Ultra Luxury        Medium
108934  Independent Floor     Mumbai   Ultra Luxury        Medium

[217 rows x 4 columns]

In [24]:
# Defining the mapping of cities to their generalizations
city_mapping = {
    'Hyderabad': 'Tech City',
    'Bangalore': 'Tech City',
    'Chennai': 'Tech City',
    'Mumbai': 'Tech City',
    'Ahmedabad': 'Other City',
    'Kolkata': 'Other City',
    'Delhi': 'Other City',
    'Lucknow': 'Other City'
}

# Replace the 'City_name' values with their generalizations
final_data['City_name'] = final_data['City_name'].replace(city_mapping)

/tmp/ipykernel_19984/2819155774.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_data['City_name'] = final_data['City_name'].replace(city_mapping)

In [25]:
final_data = final_data.drop_duplicates()
final_data

            Property_type   City_name Price_Category Size_Category
0               Apartment  Other City         Budget        Medium
1               Apartment  Other City         Budget         Large
3               Apartment  Other City         Budget         Small
25      Independent House  Other City         Budget         Large
30                  Villa  Other City         Budget        Medium
...                   ...         ...            ...           ...
82203           Apartment   Tech City   Ultra Luxury         Large
90164               Villa   Tech City   Ultra Luxury         Large
97153   Independent House   Tech City   Ultra Luxury         Large
102157  Independent House   Tech City   Ultra Luxury        Medium
108934  Independent Floor   Tech City   Ultra Luxury        Medium

[75 rows x 4 columns]

In [ ]:
# wrtie the data to excel file
final_data.to_excel("../data/outputs/q2_aoi.xlsx", index=False)